<div id="home-desc">
    <h1>Must-read Books in 2023</h1>

    <p>Today a reader, tomorrow a leader.</p>

    <a href="/books"><button id="btn">Explore Now</button></a>
</div>

<div id="images">
    <img src="images/animal-farm.jpg" alt="Animal Farm">
    <img src="images/the-catcher-in-the-rye.jpg" alt="The Catcher in the Rye">
    <img src="images/the-elements-of-style.jpg" alt="The Elements of Style">
</div>